// color
$white: #fff;
$black: #000;
$primaryLight: #ac8a46;
$primary: #916000;
$secondary: #8d8d8d;
$info: #818a91;
$gray100: #e0e0e0;
$gray200: #e6e6e6;
$gray300: #707070;

// Font-Fmaily
$font-family-en: "SF Pro Text";
$font-family-ch: "PingFang TC";

// Font-Size
$font-size-base: 16px;

// Spacing
$spacing: 16px;
